.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #ddd;
  color: #63A46C;
  padding: 0 4vw;
  .title {
    margin-right: 25%;
    text-align: left;
  }
  .links {
    display: flex;
    align-items: center;
    a:last-child {
      font-size: 1.2rem;
    }
  }
  .title, .links {
    a {
      color: #63A46C;
      padding: 1vh 1.25vw;
      cursor: pointer;
      font-size: .8rem;
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        color: orange;
      }
    }
  }
}
